.env
__pycache__/
data/
!data/
!data/effect_names.json
!data/schema_steam.json
cache/
!cache/
cache/*
!cache/schema/
cache/schema/*
!cache/schema/parts.json
!cache/schema/effects.json
cached_inventories/*
.venv/
.coverage
